@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&display=swap');

/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*{
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.transition {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.no-transition {
  transition-duration: 0s !important; /* No transition */
}


/* Gebruik de font-family in je CSS */
body {
    font-family: 'Poppins', sans-serif;
}


/* Regular */
.regular {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

/* ExtraBold */
.extrabold {
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

/* Thin */
.thin {
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
}


:root {
  font-family: 'Poppins', sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body, html {
  margin: 0;
  height: 100%;
}

.selection {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
  height: 100vh; /* Full height */
  position: relative; /* For positioning the text and buttons */
}

.selection > h2 {
  color: rgba(255, 255, 255, 0.4);
  font-size: 130px;
  position: absolute;
  left: 50%; /* Horizontally center */
  top: 50%; /* Vertically center */
  transform: translate(-50%, -50%) rotate(90deg); /* Ensure proper centering and rotation */
  z-index: 1; /* Keep it above other elements */
}

body:hover .selection > h2{
  font-size: 100px;
}
.selection h2:hover{
  font-size: 130px !important;
}

.colordiv {
  display: flex;
  width: 100%;
  height: 100%;
}

.button-container {
  position: relative;
  flex: 1;
  height: 100%;
}

.selection button.extrabold {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 60px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.top-right {
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: white;
  font-size: 50px;
  display: none;
}

.top-left {
  position: absolute;
  bottom: 0px;
  left: 10px;
  color: white;
  font-size: 50px;
  display: none;
}

/* Button colors */
.orange >  button:hover  {
  background-color: #fd2e00;
  font-size: 75px;
}

.purple button:hover  {
  background-color: #9d00ff;
  font-size: 75px;
}

.orange > button{
  background-color: #242424;
}

.purple button {
  background-color: #353535;
}

.orange:hover p, .purple:hover p{
  display: block;
}

.quizmaster{
  background-color: #fd2e00;
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.quizmaster{
  display: none;
}

.quizmasterintro .orange > button{
  background-color: #fd2e00;
}

.quizmasterintro .purple button{
  background-color: #353535;
}
.backgroundcolor{
  background-color: #353535;
}

.joinRoom{
  display: none;
  opacity: 0;
  transition-duration: 1.5s;
  margin-left: -20%;
  margin-right: 20%;
}

.createroomtext{
  font-size: 50px;
  text-align: center;
  margin-top: 125px;
}

.createroomgrid{
  display: grid;
  width: 30%;
  justify-self: center;
}

#room-input{
  background-color: #fd2e00;
  border: white solid 3px;
  border-right: none;
  border-top: none;
  font-size: 20px;
  color: white;
  padding-top: 0;
  padding-left: 30px;
  padding-bottom: 20px;
  justify-self: center;
  align-self: center;
  margin-top: 50px;
  width: calc(100% - 60px);
}

.submitroom {
  border: none;
  background-color: transparent;
  font-size: 20px !important;
  align-self: end;
  justify-self: end;
  width: 40% !important;
  margin-top: 50px;
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
  cursor: pointer;
}

.submitroom i {
  margin-left: 20px; 
}

.divCentreerder {
  display: grid;
  place-items: center; 
  height: 100vh; 
}

.image-container {
  display: grid; 
  position: relative; 
}

.topSplit {
  z-index: 1; 
}

.bottomSplit {
  z-index: 1; 
}


.line-bottom {
  position: inherit;
  top: calc(50%);
  left: 50%;
  height: 2px;
  background-color: white;
  width: 0;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 0px;
  margin-top: -2px;
}

.line-top {
  position: inherit;
  top: calc(50%);
  left: 50%;
  height: 2px;
  background-color: white; 
  width: 0;
  transform: translate(-50%, -50%); 
  transition: width 0.5s ease;
  z-index: 2;
  width: 0px;
  margin-bottom: -2px;
}

.fixed-height-content {
  display: none;
  height: 0px; 
  position: relative;
  z-index: 1; 
}

.orange-content{
  display: none;
  padding: 2%;
}

.divCentreerder{
  display: none;
}

.topnav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: calc(100% + 250px); /* Match the animated line width */
  position: relative;
  left: 50%; /* Centering with translate */
  transform: translateX(-50%);
  z-index: 3; /* Ensure it appears above other elements */
}

.topnav p:nth-child(2) {
  align-self: end;
  justify-self: end;
}

main  h1{
  font-size: 40px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 0%;
}

main .sendQuestions .vraag{
  display: grid;
  justify-items: center;
  align-self: center;
}

main .sendQuestions > div:nth-child(1) input{
  background-color: #fd2e00;
  border: white solid 3px;
  color: white;

  border-right: none;
  border-top: none;

  font-size: 20px;
  padding-top: 0;
  padding-left: 30px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 60%;
}

.playeroptions {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns for input and radio */
  width: calc(100% + 250px); /* Match the animated line width */
  position: relative;
  left: 50%; /* Center the player options */
  transform: translateX(-50%);
  z-index: 3; /* Ensure it appears above other elements */
}

.playeroptions input[type="text"] {
  background-color: #fd2e00; /* Input background color */
  border: white solid 3px; /* Input border */
  color: white; /* Input text color */
  border-right: none; /* Remove right border to connect with radio */
  border-top: none; /* Remove top border */
  font-size: 20px; /* Input text size */
  padding: 10px 30px; /* Input padding */
  margin-top: 50px; /* Top margin */
  width: 100%; /* Full width */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.options {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr; /* Allocate space for input and radio */
  align-items: center; /* Center items vertically */
}

/* Container for custom radio button */
.radio-container {
  display: flex; /* Use flex to align items */
  justify-content: start;
  align-items: end;
  height: 100%; /* Full height to match the input */
  position: relative; /* Position for absolute elements inside */
}

/* Custom square checkmark styled as button */
.radio-container .checkmark {
  height: 50%; /* Full height to match input */
  width: 50%; /* Full width */
  background-color: #fd2e00; /* Background color */
  border: 3px solid white; /* Border color */
  border-right: none;
  border-top: none;
  transition: background-color 0.3s ease; /* Transition for background color */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  cursor: pointer; /* Pointer on hover */
  display: flex; /* Use flex to center the checkmark */
  justify-content: center; /* Center the checkmark */
  align-items: center; /* Center the checkmark */
}

/* Hide the default radio button */
.radio-container input[type="radio"] {
  opacity: 0; /* Hide radio button */
  width: 0; /* No width */
  height: 0; /* No height */
  position: absolute; /* Position off screen */
  pointer-events: none; /* Prevent interaction with the hidden input */
}





/* Checked style for the custom radio button */
.radio-container input[type="radio"]:checked + .checkmark {
  background-color: white; /* Change background color when checked */
  border-color: white; /* Change border color when checked */
  border-left: solid white 3px;
  border-bottom: solid white 3px;

}

/* Checkmark inside the custom button */
.radio-container input[type="radio"]:checked + .checkmark::after {
  content: ""; /* Content for the checkmark */
  position: absolute; /* Position relative to the checkmark */
  left: 20px;
  top: 55px;
  width: 10px;
  height: 23px;
  border: solid #fd2e00; /* Checkmark border */
  border-width: 0 2px 2px 0; /* Border width for creating a checkmark */
  transform: rotate(45deg); /* Rotate to create checkmark shape */
}

/* Checkmark inside the custom button */
 .checkmark::after {
  content: ""; /* Content for the checkmark */
  position: absolute; /* Position relative to the checkmark */
  left: 20px;
  top: 55px;
  width: 10px;
  height: 23px;
  border: solid white; /* Checkmark border */
  border-width: 0 2px 2px 0; /* Border width for creating a checkmark */
  transform: rotate(45deg); /* Rotate to create checkmark shape */
}







.sendQuestions .submitroom {

  color: white;
  font-size: 22px !important;

  border: none;
  background-color: transparent;
  align-self: end;
  justify-self: end;
  width: 100% !important;
  margin-top: 50px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  cursor: pointer;

}

.playerAnswers h1{
  font-size: 50px;
  text-align: center;
  margin-bottom: 35px;
}

.playerfilled > div{
  border: solid 3px white;
  border-right: none;
  border-top: none;
  padding: 20px;
}

.gridplayerfilled{
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  width: calc(100% + 250px); /* Match the animated line width */
  position: relative;
  left: 50%; /* Centering with translate */
  transform: translateX(-50%);
  z-index: 3; /* Ensure it appears above other elements */
}

.playerfilled h3{
  font-size: 30px;
  margin-bottom: 10px;
}

.evaluating{
  width: 100% !important;
  justify-content: center;
}
.leftaside {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 200px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.leftaside h1 {
  transform: rotate(-90deg);
  transform-origin: center;
  white-space: nowrap;
  font-size: 25px;
}

.rightaside {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 200px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.rightaside h1 {
  transform: rotate(90deg);
  transform-origin: center;
  white-space: nowrap;
  font-size: 25px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
}

.overlay {
	position: fixed;
	top: 0;
	right: 0; 
	width: 25%; 
	height: 100%;
	background: #9d00ff;
	color: white;
	display: flex;
	flex-direction: column; 
	justify-content: center; 
	align-items: center; 
	z-index: 1000; 
}

.overlay h2 {
	margin: 0;
}

.overlay button {
	margin-top: 20px;
	padding: 10px 20px;
	border: none;
	background: #fd2e00;
	color: white;
	cursor: pointer;
}
